@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  width: 100%;
  position: absolute;
  &__body {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    gap: 400px;
    align-items: end;
    image-rendering: auto;
  }
  &__logo {
    width: 150px;
    height: 60px;
  }

  &__links {
    width: 90vh;
    height: 10vh;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: end;
  }
  &__link {
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
  }
  &__dropbtn {
    border: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
    background-color: inherit;
    cursor: pointer;
  }
  &__dropdown-content {
    display: none;
    position: absolute;
  }
  &__dropdown:hover &__dropdown-content {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    gap: 7px;
  }
}

//modal
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  &__content {
    position: relative;
    margin: 150px auto;
    width: 450px;
    height: 460px;
    padding: 40px;
    background-color: rgb(22, 21, 21);
    border: 1px solid rgba(252, 252, 252, 0.2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
  }

  &__form {
    width: 100%;
    max-height: 350px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
  }

  &__input {
    width: 70%;
    height: 6vh;
    margin-top: 3vh;
    color: rgb(255, 255, 255);
    background-color: rgb(22, 21, 21);
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &__btn {
    width: 70%;
    height: 6vh;
    margin-top: 3vh;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
  }
  &__btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  &__btn:active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  &__close {
    position: absolute;
    font-size: 5vh;
    top: 2vh;
    right: 4vh;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
  }
  &__close:hover {
    rotate: 100deg;
    transform: scale(1.5);
  }
  &__title {
    font-size: 3vh;
    color: rgb(255, 255, 255);
  }
}

//main
.home {
  background-image: url('https://wallpaperaccess.com/full/1109805.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 120px;

  &__body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    width: 800px;
    flex-direction: column;
    align-items: start;
    margin-top: 15vh;
    gap: 4vh;
  }
  &__title {
    color: rgb(255, 255, 255);
    font-size: 6vh;
  }
  &__text {
    color: rgb(255, 255, 255);
    font-size: 2vh;
  }
  &__btn {
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  &__btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  &__btn:active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  &__right {
    width: 100px;
    margin-top: 15vh;
  }
  &__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    font-size: 8px;
  }
  &__icon {
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s;
    padding: 10px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 100px;
  }
  &__icon:hover {
    transform: scale(1.5);
    margin-top: 3vh;
    rotate: 370deg;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
}

//--------------------Form-------------
.form {
  position: relative;
  top: -110px;
  margin-bottom: -110px;
  padding-bottom: 40px;

  &__inner {
    padding: 40px;
    border-radius: 12px;
    background-color: rgba($color: #000, $alpha: 0.7);
    color: #fff;
  }
  &__title {
    margin-bottom: 12px;
    font-size: 28px;
    text-transform: capitalize;
  }
  &__subtitle {
    margin-bottom: 16px;
    font-size: 18px;
  }

  &__block {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
  }
  &__input {
    width: 100%;
    height: 42px;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;

    &::placeholder {
      font-size: inherit;
      color: inherit;
      font-family: inherit;
    }
  }
  &__button {
    width: 80%;
    height: 42px;
    font-weight: 600;
  }
}

// -----------------our-profile-----------------

.our-profile {
  padding-block: 40px;

  &__inner {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
  }

  &__images {
    border-radius: 12px;
    height: 100%;
    position: relative;

    img {
      border-radius: inherit;
      height: 100%;
      object-fit: cover;
    }
  }

  &__images-info {
    position: absolute;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 4px;
    border: 1px solid #000;
    text-align: center;
    top: 20px;
    left: 20px;
  }
  &__images-number {
    font-size: 36px;
    margin-bottom: 6px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../img/plus.svg');
      width: 16px;
      height: 16px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      right: 24px;
      top: -2px;
    }
  }
  &__images-title {
    text-transform: capitalize;
    font-weight: 600;
  }
  // &__images-plus {
  //   width: 24px;
  // }

  &__subtitle {
    padding-block: 20px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 24px;
  }

  &__info-blocks {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  &__info-block {
    display: grid;
    grid-template-columns: auto auto;
    gap: 6px 12px;
  }
  &__block-img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    grid-row: span 2;
  }

  &__info-btn {
    height: 42px;
    padding: 6px 24px;
    border-radius: 4px;
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    font-weight: 600;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

// ---------our-service-----

.our-service {
  padding-block: 40px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  &__subtitle {
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 34px;
  }

  &__card {
    padding: 30px;
    border: 1px solid #000;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title-block {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
  }
  &__card-img {
    width: 38px;
    height: 38px;
    object-fit: cover;
  }
  &__card-text {
    font-size: 16px;
    margin-bottom: 14px;
  }
  &__card-link {
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    gap: 6px;
    align-items: center;
    position: relative;

    &::before {
      transition: all 0.2s ease-in-out;
      content: '';
      position: absolute;
      width: 26%;
      height: 1px;
      background-color: #000;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
    }

    span {
      transform: translateX(0px);
      transition: transform 0.2s ease-in-out;
    }

    svg {
      width: 16px;
      display: flex;
      align-self: center;
    }

    &:hover {
      span {
        transform: translateX(6px);
      }

      &::before {
        opacity: 1;
      }
    }
  }

  &__card-title {
    text-transform: capitalize;
  }
}

// ---------------------jobs----

.jobs {
  background-image: url('../img/jobsBg.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  padding: 50px;

  &__body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15vh;
  }
  &__title {
    position: absolute;
    left: 27%;
    top: -34px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000;
    font-size: 7vh;
    font-weight: 800;
  }

  &__item {
    width: 80px;
    height: 80px;
    transition: all 0.3s;
    transform: translateX(-1200px);
  }
  &__item_animate {
    transition: all 1s;
    transform: translateX(0px);
  }

  &__item_big {
    width: 90px;
  }
  &__item:hover {
    transform: scale(1.5);
    filter: brightness(200%);
  }
}
//------------------chat----------------
.chat {
  position: fixed;
  bottom: 1vh;
  right: 3vh;
  z-index: 1000;

  &__buttons {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    z-index: -1;
    animation: puls 1.5s infinite ease-in-out;
  }
  &__notification {
    position: absolute;
    bottom: 6vh;
    right: 5px;
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: #fff;
    font-size: 2vh;
    box-shadow: 0 0 10px #ff0000;
    transition: all 0.3s ease-in-out;
  }
  &__btn {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-image: url('../img/chatOpen.png');
    background-position: center;
    background-size: cover;
  }
  &__btn_close {
    background-image: url('../img/chatClose.png');
    background-position: center;
    background-size: cover;
    z-index: -1;
  }
  &__content {
    display: none;
    width: 50vh;
    height: 90vh;
    position: absolute;
    bottom: 2vh;
    right: 11vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }

  &__header {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
    font-size: 2vh;
    color: rgb(255, 255, 255);
    background-color: rgb(105, 104, 104);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  &__close {
    position: absolute;
    right: 2vh;
    font-size: 7vh;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s;
  }
  &__close:hover {
    rotate: 100deg;
    transform: scale(1.3);
  }
  &__messages {
    width: 100%;
    height: 75vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: start;
    flex-direction: column;
    overflow-y: scroll;
    border-bottom: 1px solid rgb(159, 159, 159);
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #c5c5c5;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #757575;
    border-radius: 20px;
  }
  &__message {
    width: 35vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1vh;
    margin: 15px;
    font-size: 12px;
    color: rgb(0, 0, 0);
  }
  &__messages__me {
    align-self: flex-end;
    flex-direction: row-reverse;
  }

  &__message-avatar {
    width: 4vh;
  }
  &__message__body {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(206, 203, 203);
  }
  &__form {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__input {
    width: 90%;
    height: 7vh;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  &__btn__send {
    width: 10%;
    height: 7vh;
    margin: 5px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  @keyframes puls {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.3);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
}
// -------------------courses----------------
.courses {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-bottom: 135vh;

  &__body {
    width: 100%;
    margin-top: 15vh;
  }

  &__header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
  }
  &__texts {
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2vh;
    color: rgb(0, 0, 0);
  }
  &__title-big {
    font-size: 6vh;
  }
  &__btn {
    width: 12vh;
    height: 6vh;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-weight: 800;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
    }
  }

  &__content {
    width: 100%;
    height: 130vh;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: 70vh;
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 5vh;
    margin-top: 5vh;
    gap: 2vh;
    background-color: rgb(242, 241, 241);
    border-radius: 10px;
  }
  &__img {
    width: 60vh;
    height: 40vh;
    border-radius: 10px;
  }
  &__info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
    color: rgb(0, 0, 0);
  }
  &__time {
    font-size: 2vh;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
  }
  &__level {
    font-size: 2vh;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
  }
  &__texts-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2vh;
    color: rgb(0, 0, 0);
  }
  &__title {
    font-size: 4vh;
  }
  &__subtitle {
    font-size: 2vh;
  }
  &__btn-big {
    width: 100%;
    height: 6vh;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    font-weight: 800;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
    }
  }
}
// -------------------teachers----------------
.teachers {
  width: 100%;
  // height: 85vh;
  padding-bottom: 100px;
  &__body {
    width: 100%;
    margin-top: 5vh;
    position: relative;
  }
  &__title {
    color: rgb(0, 0, 0);
    font-size: 6vh;
  }
  &__content {
    width: 100%;
    height: 85vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
  &__img {
    width: 70vh;
    height: 85vh;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
  }
  &__list {
    position: absolute;
    left: 74vh;
    bottom: 0vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1vh;
  }
  &__name {
    font-size: 18px;
    list-style: disc;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      text-decoration: underline;
    }
  }

  &__name-active {
    text-decoration: underline;
    list-style: disc inside;
  }
  &__info {
    width: 40%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    color: #000;
  }
  &__name-big {
    color: rgb(0, 0, 0);
    font-size: 5vh;
  }
  &__text {
    color: rgb(0, 0, 0);
    font-size: 3vh;
  }
  &__links {
    align-self: end;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__icon {
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s;
    animation: rotate 2s infinite;

    &:hover {
      animation: none;
    }
  }
  @keyframes rotate {
    0% {
      transform: none;
    }
    50% {
      transform: translate(0, -5px);
    }
    100% {
      transform: none;
    }
  }
  .fade {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  @keyframes fade {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
  .show {
    display: flex;
  }

  .hide {
    display: none;
  }
}
// -------------------selection----------------
.selection {
  width: 100%;
  margin-top: 10vh;

  &__title {
    color: rgb(0, 0, 0);
    font-size: 6vh;
  }
  &__subtitle {
    width: 120vh;
    color: rgb(0, 0, 0);
    font-size: 2vh;
    margin-top: 2vh;
  }

  &__body {
    width: 100%;
  }

  &__content {
    width: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10vh;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(226, 225, 225);
  }
  &__head {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__box {
    width: 70vh;
    height: 55vh;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-image: url(/img/selectionOne.jpg);
    background-position: center;
    background-size: cover;
    transition: all 0.3s;
    display: flex;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    gap: 4vh;
  }
  &__box--two {
    background-image: url(/img/selectionTwo.jpg);
    background-position: center;
    background-size: cover;
  }
  &__items {
    width: 100%;
    height: 20vh;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    gap: 5vh;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
  }
  &__item {
    font-size: 4vh;
    color: rgb(0, 0, 0);
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
    }
  }
}
.prices {
  width: 100%;
  margin-top: 10vh;

  &__body {
    width: 100%;
    height: 90vh;
  }
  &__title {
    font-size: 6vh;
    color: #000000;
  }
  &__subtitle {
    font-size: 2vh;
    width: 110vh;
    color: #000000;
    margin-top: 2vh;
  }
  &__content {
    width: 100%;
    height: 100vh;
    background-color: rgb(226, 225, 225);
    padding: 40px;
    margin-top: 5vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    width: 70vh;
    height: 85vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__head {
    width: 100%;
    margin-top: 3vh;
    height: 15vh;
    gap: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__name {
    font-size: 3vh;
    color: #000000;
    background-color: rgba(164, 164, 164, 0.279);
    width: 60vh;
    padding: 7px;
    text-align: center;
    border-radius: 10px;
  }
  &__price {
    font-size: 2vh;
    color: #000000;
  }
  &__currency {
    font-size: 8vh;
    font-weight: 800;
    color: #000000;
  }
  &__list {
    height: 40vh;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
  }
  &__button {
    width: 100%;
    height: 8vh;
    border: 1px solid rgb(0, 0, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    background-color: rgb(252, 252, 252);
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    font-size: 3vh;

    &:hover {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
    }
  }
}
// ----------------Steps---

.steps {
  &__info {
    margin-top: 30px;
    padding-top: 50px;
    position: relative;
  }
  &__line {
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  &__info-blocks {
    top: 0;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__info-title {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 40px;
    position: relative;

    &::before {
      content: '';
      background-color: #000;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      position: absolute;
      bottom: 4px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  &__card {
    border-radius: 4px;
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
  }
  &__card-img {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    object-fit: cover;
    margin-inline: auto;
    margin-bottom: 12px;
  }
  &__card-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 6px;
  }
}

// ----------------Info

.info {
  margin-top: 80px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;

  &__bg {
    padding-block: 80px;
    backdrop-filter: brightness(40%);
  }

  &__inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 6px;
  }
  &__title--select {
    color: #d2ac6e;
  }
  &__text{
    font-size: 18px;
  }
}
// --------Footer
.footer {
  width: 100%;
  height: 100%;
  margin-top: 40vh;

  &__body {
    width: 100%;
  }
  &__content {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
  }
  &__head {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
  }
  &__logo {
    width: 130px;
    height: 50px;
  }
  &__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vh;
    font-size: 1vh;
  }
  &__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
  }
  &__icon {
    font-size: 1.5vh;
    color: #000;
    transition: all 0.3s;
    cursor: pointer;
    animation: rotate 2s infinite;

    &:hover {
      transform: scale(1.5);
      animation: none;
    }
  }
  &__line {
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0);
    margin-top: 5vh;
  }
  &__main {
    width: 100%;
    height: 60vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
  &__title {
    font-size: 3vh;
    color: #000;
  }
  &__list {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2vh;
  }
  &__link {
    text-decoration: none;
    color: #000;
  }
  &__item {
    font-size: 2vh;
    color: #000;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  &__copyright {
    margin-top: 10vh;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__right {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2vh;
  }
  &__text {
    font-size: 2vh;
    color: #000;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  &__left {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 4vh;
  }
}
