@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  width: 100%;
  height: 10vh;
  position: absolute;
  &__body {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    gap: 400px;
    align-items: end;
    image-rendering: auto;
  }
  &__logo {
    width: 150px;
    height: 60px;
  }

  &__links {
    width: 90vh;
    height: 10vh;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: end;
  }
  &__link {
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
  }
  &__dropbtn {
    border: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
    background-color: inherit;
    cursor: pointer;
  }
  &__dropdown-content {
    display: none;
    position: absolute;
  }
  &__dropdown:hover &__dropdown-content {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    gap: 7px;
  }
}

//modal
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);

  &__content {
    position: relative;
    margin: 150px auto;
    width: 450px;
    height: 460px;
    padding: 40px;
    background-color: rgb(22, 21, 21);
    border: 1px solid rgba(252, 252, 252, 0.2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
  }

  &__form {
    width: 100%;
    max-height: 350px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
  }

  &__input {
    width: 70%;
    height: 6vh;
    margin-top: 3vh;
    color: rgb(255, 255, 255);
    background-color: rgb(22, 21, 21);
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &__btn {
    width: 70%;
    height: 6vh;
    margin-top: 3vh;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
  }
  &__btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  &__btn:active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  &__close {
    position: absolute;
    font-size: 5vh;
    top: 2vh;
    right: 4vh;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
  }
  &__close:hover {
    rotate: 100deg;
    transform: scale(1.5);
  }
  &__title {
    font-size: 3vh;
    color: rgb(255, 255, 255);
  }
}

//main
.home {
  background-image: url('https://images.pexels.com/photos/6804581/pexels-photo-6804581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-bottom: 120px;

  &__body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    width: 800px;
    flex-direction: column;
    align-items: start;
    margin-top: 15vh;
    gap: 4vh;
  }
  &__title {
    color: rgb(255, 255, 255);
    font-size: 6vh;
  }
  &__text {
    color: rgb(255, 255, 255);
    font-size: 2vh;
  }
  &__btn {
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  &__btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  &__btn:active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  &__right {
    width: 100px;
    margin-top: 15vh;
  }
  &__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    font-size: 8px;
  }
  &__icon {
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.3s;
    padding: 10px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 100px;
  }
  &__icon:hover {
    transform: scale(1.5);
    margin-top: 3vh;
    rotate: 370deg;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
}

//--------------------Form-------------
.form {
  position: relative;
  top: -110px;
  margin-bottom: -110px;
  padding-bottom: 40px;

  &__inner {
    padding: 40px;
    border-radius: 12px;
    background-color: rgba($color: #000, $alpha: 0.7);
    color: #fff;
  }
  &__title {
    margin-bottom: 12px;
    font-size: 28px;
    text-transform: capitalize;
  }
  &__subtitle {
    margin-bottom: 16px;
    font-size: 18px;
  }

  &__block {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
  }
  &__input {
    width: 100%;
    height: 42px;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;

    &::placeholder {
      font-size: inherit;
      color: inherit;
      font-family: inherit;
    }
  }
  &__button {
    width: 80%;
    height: 42px;
    font-weight: 600;
  }
}

// -----------------our-profile-----------------

.our-profile {
  padding-block: 40px;

  &__inner {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
  }

  &__images {
    border-radius: 12px;
    height: 100%;
    position: relative;

    img {
      border-radius: inherit;
      height: 100%;
      object-fit: cover;
    }
  }

  &__images-info {
    position: absolute;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 4px;
    border: 1px solid #000;
    text-align: center;
    top: 20px;
    left: 20px;
  }
  &__images-number {
    font-size: 36px;
    margin-bottom: 6px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../img/plus.svg');
      width: 16px;
      height: 16px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      right: 24px;
      top: -2px;
    }
  }
  &__images-title {
    text-transform: capitalize;
    font-weight: 600;
  }
  // &__images-plus {
  //   width: 24px;
  // }

  &__subtitle {
    padding-block: 20px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 24px;
  }

  &__info-blocks {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  &__info-block {
    display: grid;
    grid-template-columns: auto auto;
    gap: 6px 12px;
  }
  &__block-img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    grid-row: span 2;
  }

  &__info-btn {
    height: 42px;
    padding: 6px 24px;
    border-radius: 4px;
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
    font-weight: 600;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

// ---------our-service-----

.our-service {
  padding-block: 40px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  &__subtitle {
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 34px;
  }

  &__card {
    padding: 30px;
    border: 1px solid #000;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title-block {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
  }
  &__card-img {
    width: 38px;
    height: 38px;
    object-fit: cover;
  }
  &__card-text {
    font-size: 16px;
    margin-bottom: 14px;
  }
  &__card-link {
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    gap: 6px;
    align-items: center;
    position: relative;

    &::before {
      transition: all 0.2s ease-in-out;
      content: '';
      position: absolute;
      width: 26%;
      height: 1px;
      background-color: #000;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
    }

    span {
      transform: translateX(0px);
      transition: transform 0.2s ease-in-out;
    }

    svg {
      width: 16px;
      display: flex;
      align-self: center;
    }

    &:hover {
      span {
        transform: translateX(6px);
      }

      &::before {
        opacity: 1;
      }
    }
  }

  &__card-title {
    text-transform: capitalize;
  }
}

// ---------------------jobs----

.jobs {
  background-image: url('../img/jobsBg.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 30vh;
  position: relative;
  

  &__body {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15vh;
  }
  &__title {
    position: absolute;
    left: 27%;
    top: -34px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000;
    font-size: 7vh;
    font-weight: 800;
  }

  &__item {
    width: 80px;
    height: 80px;
    transition: all 0.3s;
    transform: translateX(-1200px);
  }
  &__item_animate {
    transition: all 1s;
    transform: translateX(0px);
  }

  &__item_big {
    width: 90px;
  }
  &__item:hover {
    transform: scale(1.5);
    filter: brightness(200%);
  }
}

.chat{
  position: fixed;
  bottom: 1vh;
  right: 3vh;

&__btn{
  position: absolute;
  bottom: 1vh;
  right: 1vh;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-image: url('../img/chatOpen.png');
  background-position: center;
  background-size: cover;
}
&__btn_close{
  background-image: url('../img/chatClose.png');
  background-position: center;
  background-size: cover;
  z-index: -1;
}
&__content{
  display: none;
  width: 50vh;
  height: 90vh;
  position: absolute;
  bottom: 2vh;
  right: 11vh;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

&__header{
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  font-size: 2vh;
  color: rgb(255, 255, 255);
  background-color: rgb(105, 104, 104);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

&__close{
  position: absolute;
  right: 2vh;
  font-size: 7vh;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s;
}
&__close:hover{
  rotate: 100deg;
  transform: scale(1.3);
}
&__messages{
  width: 100%;
  height:75vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: start;
  flex-direction: column;
  overflow-y: scroll;
  border-bottom: 1px solid rgb(159, 159, 159);
}


::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #c5c5c5;
  
}
::-webkit-scrollbar-thumb {
  background-color: #757575;
  border-radius: 20px;
}
&__message{
  width: 35vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 1vh;
  margin: 15px;
  font-size: 12px;
  color: rgb(0, 0, 0);
}
&__messages__me{
  align-self: flex-end;
  flex-direction: row-reverse;
}

&__message-avatar{
  width: 4vh;
}
&__message__body{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(206, 203, 203);
}
&__form{
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
&__input{
  width: 90%;
  height: 7vh;
  border: none;
  outline:none;
  padding: 10px;
  font-size: 13px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
&__btn__send{
  width: 10%;
  height: 7vh;
  margin: 5px;
  border-bottom-right-radius: 10px;
  border:none;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
}